/*

Style Hints:

Body Font Size = 14px
	 Font Family = "Times New Roman", serif
	 Font Color = black
	 Background: #F3EBE9

H1 Font Size = 50px
   Font Family = Arial, Helvetica, sans-serif
   Text-transform: uppercase;
   color: #FFFFFF;	(White)

H2: Font Size = 18px
	Text-Transform: uppercase;
	Font-Family: cursive, Helvetica, sans-serif;

*/

html {
  background: url(../images/pattern1.png)
}

body {
  width: 70%;
  margin: auto;
}

h2, h3 {
  font-family: cursive;
}

h3{
  text-decoration: underline;
}

header, footer {
  background-color: indianred;
}
main {
  background-color: white;
}

#hero-image {
  width: 100%;
}
